parameters:
	ignoreErrors:
		-
			message: "#^Function helfi_tunnistamo_create_email\\(\\) has parameter \\$userinfo with no value type specified in iterable type array\\.$#"
			count: 1
			path: helfi_tunnistamo.module

		-
			message: "#^Function helfi_tunnistamo_form_user_form_alter\\(\\) has parameter \\$form with no type specified\\.$#"
			count: 1
			path: helfi_tunnistamo.module

		-
			message: "#^Function helfi_tunnistamo_form_user_form_alter\\(\\) has parameter \\$form_id with no type specified\\.$#"
			count: 1
			path: helfi_tunnistamo.module

		-
			message: "#^Function helfi_tunnistamo_openid_connect_post_authorize\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: helfi_tunnistamo.module

		-
			message: "#^Function helfi_tunnistamo_openid_connect_userinfo_alter\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: helfi_tunnistamo.module

		-
			message: "#^Function helfi_tunnistamo_openid_connect_userinfo_alter\\(\\) has parameter \\$userinfo with no value type specified in iterable type array\\.$#"
			count: 1
			path: helfi_tunnistamo.module

		-
			message: "#^Parameter \\#1 \\$password of method Drupal\\\\user\\\\UserInterface\\:\\:setPassword\\(\\) expects string, null given\\.$#"
			count: 1
			path: helfi_tunnistamo.module

		-
			message: "#^Parameter \\#1 \\$uid of method Drupal\\\\externalauth\\\\Authmap\\:\\:getAll\\(\\) expects int, int\\|string\\|null given\\.$#"
			count: 1
			path: helfi_tunnistamo.module

		-
			message: "#^Method Drupal\\\\helfi_tunnistamo\\\\Drush\\\\Commands\\\\SanitizeCommand\\:\\:messages\\(\\) has parameter \\$messages with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Drush/Commands/SanitizeCommand.php

		-
			message: "#^Method Drupal\\\\helfi_tunnistamo\\\\Drush\\\\Commands\\\\SanitizeCommand\\:\\:sanitize\\(\\) has parameter \\$result with no type specified\\.$#"
			count: 1
			path: src/Drush/Commands/SanitizeCommand.php

		-
			message: "#^Parameter \\#1 \\$password of method Drupal\\\\user\\\\UserInterface\\:\\:setPassword\\(\\) expects string, null given\\.$#"
			count: 1
			path: src/EventSubscriber/DisableExternalUsersPasswordSubscriber.php

		-
			message: "#^Method Drupal\\\\helfi_tunnistamo\\\\Hook\\\\MenuHooks\\:\\:alterMenu\\(\\) has parameter \\$data with no type specified\\.$#"
			count: 1
			path: src/Hook/MenuHooks.php

		-
			message: "#^Method Drupal\\\\helfi_tunnistamo\\\\Hook\\\\MenuHooks\\:\\:alterMenu\\(\\) has parameter \\$route_name with no type specified\\.$#"
			count: 1
			path: src/Hook/MenuHooks.php

		-
			message: "#^Cannot access offset 'authorization…'\\|'end_session_endpoint'\\|'token_endpoint'\\|'userinfo_endpoint' on array\\|bool\\.$#"
			count: 1
			path: src/Plugin/OpenIDConnectClient/Tunnistamo.php

		-
			message: "#^Method Drupal\\\\helfi_tunnistamo\\\\Plugin\\\\OpenIDConnectClient\\\\Tunnistamo\\:\\:buildConfigurationForm\\(\\) has parameter \\$form with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Plugin/OpenIDConnectClient/Tunnistamo.php

		-
			message: "#^Method Drupal\\\\helfi_tunnistamo\\\\Plugin\\\\OpenIDConnectClient\\\\Tunnistamo\\:\\:buildConfigurationForm\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Plugin/OpenIDConnectClient/Tunnistamo.php

		-
			message: "#^Method Drupal\\\\helfi_tunnistamo\\\\Plugin\\\\OpenIDConnectClient\\\\Tunnistamo\\:\\:create\\(\\) has parameter \\$configuration with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Plugin/OpenIDConnectClient/Tunnistamo.php

		-
			message: "#^Method Drupal\\\\helfi_tunnistamo\\\\Plugin\\\\OpenIDConnectClient\\\\Tunnistamo\\:\\:defaultConfiguration\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Plugin/OpenIDConnectClient/Tunnistamo.php

		-
			message: "#^Method Drupal\\\\helfi_tunnistamo\\\\Plugin\\\\OpenIDConnectClient\\\\Tunnistamo\\:\\:getAdRoles\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Plugin/OpenIDConnectClient/Tunnistamo.php

		-
			message: "#^Method Drupal\\\\helfi_tunnistamo\\\\Plugin\\\\OpenIDConnectClient\\\\Tunnistamo\\:\\:getClientRoles\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Plugin/OpenIDConnectClient/Tunnistamo.php

		-
			message: "#^Method Drupal\\\\helfi_tunnistamo\\\\Plugin\\\\OpenIDConnectClient\\\\Tunnistamo\\:\\:getClientScopes\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Plugin/OpenIDConnectClient/Tunnistamo.php

		-
			message: "#^Method Drupal\\\\helfi_tunnistamo\\\\Plugin\\\\OpenIDConnectClient\\\\Tunnistamo\\:\\:getDisabledAmr\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Plugin/OpenIDConnectClient/Tunnistamo.php

		-
			message: "#^Method Drupal\\\\helfi_tunnistamo\\\\Plugin\\\\OpenIDConnectClient\\\\Tunnistamo\\:\\:getEndpoints\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Plugin/OpenIDConnectClient/Tunnistamo.php

		-
			message: "#^Method Drupal\\\\helfi_tunnistamo\\\\Plugin\\\\OpenIDConnectClient\\\\Tunnistamo\\:\\:getLoaRoles\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Plugin/OpenIDConnectClient/Tunnistamo.php

		-
			message: "#^Method Drupal\\\\helfi_tunnistamo\\\\Plugin\\\\OpenIDConnectClient\\\\Tunnistamo\\:\\:getRedirectUrl\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Plugin/OpenIDConnectClient/Tunnistamo.php

		-
			message: "#^Method Drupal\\\\helfi_tunnistamo\\\\Plugin\\\\OpenIDConnectClient\\\\Tunnistamo\\:\\:getRedirectUrl\\(\\) has parameter \\$route_parameters with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Plugin/OpenIDConnectClient/Tunnistamo.php

		-
			message: "#^Method Drupal\\\\helfi_tunnistamo\\\\Plugin\\\\OpenIDConnectClient\\\\Tunnistamo\\:\\:mapAdRoles\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Plugin/OpenIDConnectClient/Tunnistamo.php

		-
			message: "#^Method Drupal\\\\helfi_tunnistamo\\\\Plugin\\\\OpenIDConnectClient\\\\Tunnistamo\\:\\:mapLoaRoles\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Plugin/OpenIDConnectClient/Tunnistamo.php

		-
			message: "#^Method Drupal\\\\helfi_tunnistamo\\\\Plugin\\\\OpenIDConnectClient\\\\Tunnistamo\\:\\:mapRoles\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Plugin/OpenIDConnectClient/Tunnistamo.php

		-
			message: "#^Method Drupal\\\\helfi_tunnistamo\\\\Plugin\\\\OpenIDConnectClient\\\\Tunnistamo\\:\\:setConfiguration\\(\\) has parameter \\$configuration with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Plugin/OpenIDConnectClient/Tunnistamo.php

		-
			message: "#^Parameter \\$body of class GuzzleHttp\\\\Psr7\\\\Response constructor expects Psr\\\\Http\\\\Message\\\\StreamInterface\\|resource\\|string\\|null, string\\|false given\\.$#"
			count: 1
			path: tests/src/Kernel/KernelTestBase.php

		-
			message: "#^Parameter \\#1 \\$string of function parse_str expects string, string\\|false\\|null given\\.$#"
			count: 1
			path: tests/src/Kernel/RedirectUrlEventTest.php

		-
			message: "#^Parameter \\#2 \\$string of method PHPUnit\\\\Framework\\\\Assert\\:\\:assertStringEndsWith\\(\\) expects string, array\\|string given\\.$#"
			count: 1
			path: tests/src/Kernel/RedirectUrlEventTest.php

		-
			message: "#^Property Drupal\\\\Tests\\\\helfi_tunnistamo\\\\Kernel\\\\RedirectUrlEventTest\\:\\:\\$caughtEvents type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/src/Kernel/RedirectUrlEventTest.php

		-
			message: "#^Method Drupal\\\\Tests\\\\helfi_tunnistamo\\\\Kernel\\\\UserInfoAlterTest\\:\\:authorizationData\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/src/Kernel/UserInfoAlterTest.php

		-
			message: "#^Method Drupal\\\\Tests\\\\helfi_tunnistamo\\\\Kernel\\\\UserInfoAlterTest\\:\\:getClientMock\\(\\) has parameter \\$userInfo with no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/src/Kernel/UserInfoAlterTest.php

		-
			message: "#^Method Drupal\\\\Tests\\\\helfi_tunnistamo\\\\Kernel\\\\UserInfoAlterTest\\:\\:testAuthorization\\(\\) has parameter \\$userInfo with no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/src/Kernel/UserInfoAlterTest.php
